body{
    margin:0;
    font-family: sans-serif;
    line-height: 1.5;
}
.wrapper{
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-color: brown;
}
.header{
    padding: 10px;
    text-align: center;
    background-color: azure;
}
.main{
    background-color: aquamarine;
}
.container{
    padding: 10px;
    text-align: center;
    margin-bottom: 9px;
}
.dot{
    /* border-style: solid; */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.dot img{
    visibility: hidden;
    pointer-events: none;
    position: relative;
    z-index: 20;
}
.world{
    border-style: solid;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    top: -25px;
    right: -10px;
    left: 0;
    bottom: -10px;
    margin: auto;
    background:url(assets/img/world.png);
}
.country-info{
    background-color: red;
}
button{
    border-radius: 25%;
}