html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#main{
    min-height: 100%;
    background-color: red;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
}
#world{
    border-style: solid;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url(assets/img/world.png);
}
#header{
    position: absolute;
    margin: 0 auto;
    top: 0;  

}