html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    /*TODO Implementar video/fondo animado*/
    background-color:#dddddd;
}
.item{
    margin: 5px;
    background-color: blue;
}
#world{
    border-style: solid;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url(assets/img/world.png);
}
#header{
    width: 400px;
    text-align: center;
}
